<%# <h1>Welcome to social media clone</h1> %>
   <!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>Welcome to<br>the best <span>SocialApp!</span></h2>
        <div>
          <%= link_to "Get Started",  new_user_registration_path, class: "btn-get-started scrollto" %>
          <%= link_to "Login",  new_user_session_path, class: "btn-get-started scrollto" %>
        </div>
      </div>

      <div class="col-md-6 intro-img order-md-last order-first">
        <%= image_tag "intro-img.svg", class: "img-fluid" %>
      </div>
    </div>

  </div>
</section>
