@import "bootstrap";
@import "font-awesome";


.no-padding{
    padding: 0 !important;
}

.left-padding{
    padding-left: 15px !important;
}

// Introducton Landing Page styling

#intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd asset-url('intro-bg.jpg') center top no-repeat;
    background-size: cover;
  }
  
  #intro .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro .intro-info h2 span {
    color: #3b59b6;
  }
  
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #3b59b6;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover,
  #intro .intro-info .btn-services:hover {
    background: #0a98c0;
  }

  .custom-bg{
    background: #3b59b6
  }

  .top-padding{
    padding: 30px 30px;
  }

.move-right{
  text-align: right;
}

body {
  background-color: #eeeeee;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
      padding-left: 4rem;
      padding-right: 4rem;
  }
  .gedf-card {
      margin-bottom: 2.77rem;
  }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

/*-- Content Style --*/
.post-footer-option li{
  float:left;
  margin-right:50px;
  padding-bottom:15px;
}

.post-footer-option li a{
  color:#AFB4BD;
  font-weight:500;
  font-size:1.3rem;
}

.photo-profile{
  border:1px solid #DDD;    
}

.anchor-username h5{
  font-weight:bold;    
}

.anchor-time{
  color:#ADB2BB;
  font-size:0.8rem;
}

.post-footer-comment-wrapper{
  background-color:#F6F7F8;
}

#padding-needed{
  padding-right: 20px;
}
#minute{
  padding-right: 8px;
}
.blue-link{
  color: rgb(22, 122, 246);
  padding-right: 10px;
}

.liked{
  color: darkblue;
}
.right{
  padding-left: 400px;
}

.spacing{
  margin-right: 10px;
}
#notification{
  color: white;
  background-color: rgb(243, 74, 74);
  border-radius: 10px;
  position: absolute;
  right: 77px;
  width: 13px;
  height: 13px;
  font-size: 10px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-bottom: 0;
font-weight: 600;
}

